@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,500;1,700&family=Rubik:wght@300;400;500;600&family=Rufina:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;600&family=Roboto:ital,wght@1,100;1,300;1,500;1,700&family=Rubik:wght@300;400;500;600&family=Rufina:wght@400;700&display=swap');
*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-family: 'Rubik', sans-serif;
            font-family: 'Rufina', serif;
}

body {
            background: #ffffff;
}

section {
            padding: 100px 8%;
}

header .brandlogo{
    display: flex;
    align-items: center;
    gap: 1rem;
   
}
header .brandlogo a{
    font-size: 23px;
    font-weight: bold;
    color: #333;
    transition: 0.5s all ease;
}
header .brandlogo a:hover{
    transform: scale(1.1);
     color: rgb(192, 80, 236);
}

header {
            width: 100%;
            height: 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 30px 6%;
            align-items: center;
            border-bottom: 1px solid #ccc;
            background: #fffbfb;
            position: fixed;
            right: 0;
            top: 0;
            z-index: 99999;
}

header .logo {
            font-size: 28px;
            color: #333;
            font-weight: bolder;
            transition: 0.5s all ease;
}
header .logo:hover {
            transform: scale(1.1);
            color: rgb(192, 80, 236);
}

header #navbar {
            display: flex;
}

header #navbar li a {
            padding: 0 15px;
            display: inline-block;
            color: #333;
            font-size: 17px;
            text-transform: capitalize;
            transition: 0.5s all ease;
}
header #navbar li a:hover {
            transform: scale(1.2);
            color: rgb(192, 80, 236);
}
header .icons{
    display: flex;
    align-items: center;
    gap: 1rem;
}
header .icons a{
    font-size: 15px;
    color: #333;
}
header .icons .btn{
    padding: 10px 15px;
    background: #FFF0D7;
    border-radius: 10px;
}

/* ===================banner seciton design================== */

#banner-container{
    width: 100%;
    height: 100vh;
    background: #FFFCF7;
}
#banner-container .sub-containers{
    display: flex;
    align-items: center;
    justify-content: center;

}

#banner-container .sub-containers img{
    width: 100%;
    margin-top: 60px;
}
#banner-container .sub-containers .containers-items{
    margin-top: 70px;
}
#banner-container .sub-containers .containers-items h1{
  font-size: 45px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  
}
#banner-container .sub-containers .containers-items p{
    font-size: 15px ;
    line-height: 25px;
    margin-bottom: 18px;
}
#banner-container .sub-containers .containers-items form{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom:15px ;
   
}

#banner-container .sub-containers .containers-items form input:first-child{
    padding: 10px 50px;
    outline: 0;
    border: 0;
    background: #fff;
    color: #020101;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #333;
    
}
#banner-container .sub-containers .containers-items form input:nth-child(2){
    padding: 10px 16px;
    background: #FFC059;
    outline: 0;
    border:0;
    border-radius: 5px;

}


/* ======================notification design=========================== */

#notification{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
#notification .sub-noti{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 30px 40px 40px 30px;
    -webkit-box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.63); 
    box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.63);
  border-radius: 10px;
   overflow: hidden;
}
#notification .sub-noti:nth-child(2){
    background: #F6F8FB;
}
#notification .sub-noti img{
    width: 50px;
    height: 50px;
}
#notification .sub-noti .contents h5{
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;

}
#notification .sub-noti .contents p{
    font-size: 14px;
}

/*======================== message design part======================= */

#message{
    width: 90%;
    height: auto;
    
}
#message .messagner img{
    width: 100%;
}
#message .messagner{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
   
}
#message .messagner .contn{
    margin-bottom: 20px;
}
#message .messagner .contn h2{
    font-size: 30px;
    margin-bottom: 15px;
    color: #333;
    text-transform: capitalize;
}
#message .messagner .contn p{
    color: #333;
    margin-bottom: 10px;
    color: #352f2f;
}
#message .messagner .contn .box-contents h5{
    font-size: 15px;
    margin-bottom: 10px;
    color: #333;
}
#message .messagner .contn .box-contents{
   padding: 15px 20px;
   -webkit-box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.25); 
box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.25);
margin-bottom: 15px;
   
}
#message .messagner .contn .arrow h5:nth-child(1){
    padding: 15px 20px;
    -webkit-box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.25); 
 box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.25);
 margin-bottom: 10px;
}
#message .messagner .contn .arrow h5:nth-child(2){
    padding: 15px 20px;
    -webkit-box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.25); 
 box-shadow: 0px 2px 20px 5px rgba(116,116,116,0.25);
}


/* ====================multi-Messagner design part========================== */

#multiple-messanger{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 30px;
}
#multiple-messanger img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

#multiple-messanger .msnger-containers{
    display: flex;
    align-items: center;
}
#multiple-messanger .msnger-containers .msnger-items h1{
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
}

#multiple-messanger .msnger-containers .msnger-items span{
    margin: 15px 0;
    color: #333;
    padding-top: 15px ;
}
#multiple-messanger .msnger-containers .msnger-items .main-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 20px;
   
   
}
#multiple-messanger .msnger-containers .msnger-items .main-box .right-box li{
display: flex;
align-items: center;
gap: 0.7rem;
padding: 7px 0;
}
#multiple-messanger .msnger-containers .msnger-items .main-box .left-box li{
display: flex;
align-items: center;
gap: 0.7rem;
padding: 8px 0;
}
#multiple-messanger .msnger-containers .msnger-items a{
    text-decoration: underline;
    color: #2b68c2;
    font-size: 18px;
}


/* =======================service center design======================== */

#service-center{
    width: 100%;
    height: 100vh;
    background:#353448;
    position: relative;
    overflow: hidden;
    

}
#service-center .service-containers{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #868691;
    
}
#service-center .prepagation{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 8px 0;
}
#service-center .prepagation li {
    color: #fff;
}
#service-center .prepagation .active{
    color: #FFC059;
}
#service-center .dashboard{
    margin: 80px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  
}
#service-center img{
    position: absolute;
    width: 500px;
    right:0;
    top: 160px;
    bottom: -80px;
    margin-top: 100px;
   
}
#service-center .dashboard .content-text{
   left: 0;
    
}

#service-center .dashboard .content-text h1{
    color: #F6F8FB;
    line-height: 1.2;
    letter-spacing: 2px;
    font-size: 30px;
    margin-bottom: 20px;
}
#service-center .dashboard .content-text p{
    color: #f1eaea;
    font-size: 16px;
    margin-bottom: 40px;
}
#service-center .dashboard .content-text .btn{
    padding: 10px 15px;
    background: #FFC059;
    color: #212327;
    border-radius: 5px;
    transition: 0.5s all ease;
}
#service-center .dashboard .content-text .btn:hover{
    -webkit-box-shadow: 0px 2px 20px 5px rgba(13, 200, 233, 0.90); 
    box-shadow: 0px 2px 20px 5px rgba(26, 225, 252, 0.90);
}

/*================== heading design part center =========================*/


#heading{
    text-align: center;
}
#heading h1{
    font-size: 30px;
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
}
#heading p{
    color: #333;
}

#mood{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.7rem;
}

/* ==================price list design======================== */


#ModelBox .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#ModelBox .box-container .price{
    margin: 0 15px;
    padding: 35px 35px 30px 30px;
    -webkit-box-shadow: 0px 2px 20px 5px rgba(35, 38, 39, 0.5); 
    box-shadow: 0px 2px 20px 5px rgba(39, 41, 41, 0.5);
}
#ModelBox .box-container .price h2{
    color: #333;
    font-size: 25px;
    margin-bottom: 10px;
}

#ModelBox .box-container .price h3{
    color: #FFC059;
    font-size: 25px;
    margin-bottom: 10px;
}
#ModelBox .box-container .price .serviceBox  .list p{
    color: #333;
}
#ModelBox .box-container .price .serviceBox  .list{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 10px 0;
}
#ModelBox .box-container .price .serviceBox{
    padding: 20px 0;
    margin-bottom: 20px;
}
#ModelBox .box-container .price .btn1{
    margin-bottom: 20px !important;
    display: inline-block;
    padding: 10px 15px;
    background: #f1e3cb;
    color: #353448;
    font-size: 15px;
    border-radius: 5px;
    
}
#ModelBox .box-container .price .btn2{
    margin-bottom: 20px !important;
    display: inline-block;
    padding: 10px 15px;
    background: #FFC059;
    color: #353448;
    font-size: 15px;
    border-radius: 5px;
    
}


#heading2{
    text-align: center;
    background: #f5e4c8;
}
#heading2 h1{
    font-size: 30px;
    color: #333;
    font-weight: 600;
    text-transform: capitalize;
}
#heading2 p{
    color: #333;
}

/* ===================client preview design=========================== */


#client-preview .client-containers{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    
    
  
}
#client-preview .client-containers .client-list {
    padding: 25px 20px 20px 20px;
    -webkit-box-shadow: 0px 2px 15px 3px rgba(35, 38, 39, 0.3); 
    box-shadow: 0px 2px 20px 5px rgba(39, 41, 41, 0.3);
    border-radius: 10px;
    transition: 0.5s all ease;
}
#client-preview .client-containers .client-list .client-img{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-top: 25px;
}
#client-preview .client-containers .client-list .client-img .text h4{
color: #343D48;
font-family: DM Sans;
font-size: 17px;
font-style: normal;
font-weight: 500;
line-height: 30px; 
}
#client-preview .client-containers .client-list .client-img .text p{
    color: #4F96FF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; 
}
/* #client-preview .client-containers .client-list:hover{
    background: #353448;
    color: #fff;
    -webkit-box-shadow: 0px 2px 20px 5px rgba(13, 200, 233, 0.40); 
    box-shadow: 0px 2px 20px 5px rgba(26, 225, 252, 0.40);
}
#client-preview .client-containers .client-list .client-img .text h4:hover{
    color: #FFF;
} */

#footer{
    background: #353448;
}
#footer .footer-containers{
    width: 100%;
    height: 30vh;
    margin-top: 60px;
    display: inline-block;
    text-align: center;
    
}
#footer .footer-containers h1{
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 156.25% */
    letter-spacing: -0.5px;    
}
#footer .footer-containers p{
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 312.5% */
    letter-spacing: -0.5px;   
  
}
#footer .footer-containers form{
    margin-top: 20px;

}
#footer .footer-containers form .search{
    padding: 10px 50px;
    outline: 0;
    border: 0;
    background: #fff;
    color: #020101;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px #333;

}
#footer .footer-containers form .btn {
    padding: 10px 16px;
    background: #FFC059;
    outline: 0;
    border:0;
    border-radius: 5px;
    transition: 0.5s all ease;
}
#footer .footer-containers form .btn:hover{
    -webkit-box-shadow: 0px 2px 20px 5px rgba(13, 200, 233, 0.90); 
    box-shadow: 0px 2px 20px 5px rgba(26, 225, 252, 0.90);
    cursor: pointer;
}

#footer-nav{
    width: 100%;
    height: auto;
    background: #2B293E;
    display: flex;
    justify-content: space-around;
    align-items: center;
   padding: 25px 0;
   
}
#footer-nav .brandfoot{
    display: flex;
    align-items: center;
    gap: 10px;
}
#footer-nav .brandfoot img{
    width: 30px;
    height: 30px;
}
#footer-nav .brandfoot a {
    color: #fff;
    font-size: 20px;
}
#footer-nav ul{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#footer-nav ul li a{
    color: #fff;
}
